body{
    background-image: url("bg.jpg");
}
.top{
    text-align: right;
}
h1{
    padding-top: 20px;
    padding-left: 50px;
    text-align: left;
    color: aliceblue;
    font-size: 80px;
}
.top a{
    
    color: azure;
    text-decoration: none;
}